cartprod {
    width: 300px;
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 2fr, 1,fr;
    justify-items: center;
    align-items: center;
 /* place-items: center; esta linea hace lo mismo de las 2 anteriores  */
    gap: 10px;
}
cartprod__title {
    grid-column: span 3;
}
cartprod__container {
    display: flex;
}
cartprod__container span {
    padding: 3px 10px;
}
cartprod__price {
    grid-column: span 3;
}