.login {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__form {
    width: 50%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}